.product {
   display: grid;
   text-align: center;
   grid-template-columns: 100px 1600px;
 }
 .product1 {
   background-color: rgb(0, 182, 206);
   display: flex;
   justify-content: center;
   border-style: solid;
   border-color: aliceblue;
   align-items: center;
   margin-bottom: 5px;
   margin-top: 5px;
   margin-right: 5px;
 }