body {
  background-color: darkblue;
}
header {
  background-color: black;
  text-align: center;
}
p {
  color: white;
}
.main {
  display: grid;
  grid-template-columns: 50%, 50%;
  border: 2px;
  background-color: lightblue;
}
