body {
  background-color: darkblue;
}
header {
  background-color: black;
  text-align: center;
}
p {
  color: white;
}
h1 {
  color: white;
}
.main {
  display: grid;
  text-align: center;
  grid-template-columns: 350px 350px;
}
.item {
  background-color: rgb(0, 225, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  margin-right: 1px;
}
