body {
  background-color: darkblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header {
  background-color: black;
  height: 55px;
  text-align: center;
  border-style: dashed;
  border-color: cyan;
}
footer {
  background-color: black;
  height: 55px;
  text-align: center;
  border-style: dashed;
  border-color: cyan;
}
p {
  color: white;
  text-align: justify;
}
h1 {
  color: white;
  font-size: 45px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 5px;
}
.main {
  display: grid;
  text-align: center;
  grid-template-columns: 270px 650px 650px 270px;
  grid-template-rows: 720px;
}
.item {
  background-color: rgb(0, 182, 206);
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: aliceblue;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
